@import "colors";
@import "dimensions";

$circ: 30px;
$on_color: $primary_color;
$on_color_bg: $primary_color_light;
$off_color: $accent_color;
$off_color_bg: $accent_color_light;
$switch-height: 20px;

.switch-box {
  .hide{
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: $switch-height * 2.3;
    height: $switch-height;
    border-radius: $switch-height/2;
    background: $on_color;
    transition: box-shadow 0.4s;

    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto 0;
      
      width: $circ;
      height: $circ;
      background: $on_color_bg;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition:
        background 0.4s,
        left 0.4s,
        height 0.2s,
        width 0.2s;
    }
  }

  input:checked + label {
    box-shadow: inset 0 0 0 $switch-height $off_color_bg;
  }

  label:active:after,
  input:checked + label:active:after {
    height: $switch-height/1.1;
    width: $switch-height * 1.2;
  }

  input:checked + label:after {
    left: calc(100% - #{$circ});
    background: $off_color;
  }

  span {
    display: inline-block;
    margin: 0 10px;
  }

}
