@import "colors";
@import "dimensions";

.additive-list {
  h4 {
    font-size: $h4_size
  }

  h5 {
    font-size: $h5_size;
  }

  [class^="mui-col"] {
    padding: 0;
    padding-right: 5px;
  }

  .mui-row {
    position: relative;

    a {
      top: 1.3em;
      position: absolute;
      right: -18px;

      &:hover {
        cursor: pointer;
      }

      .delete-element {
        font-size: $tooltip_icon_font_size;
        font-weight: $font_weight_bold;
      }
    }

    input, textarea {
      height: 2.5em;
      font-size: 1.1em;
      padding: 0.4em;
    }

    .error {
      // shrink font size a little bit
      font-size: 0.8em;
    }
  }

  .add-element-row {
    button {
      margin: $default_margin auto;
      display: block;

      span {
        font-size: $tooltip_icon_font_size;
        position: absolute;
        top: 17px;
        left: 17px;
      }
    }
  }

  .add-list-enter {
    opacity: 0.1;
  }

  .add-list-enter.add-list-enter-active {
    opacity: 0.9;
    transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
  }

  .add-list-leave {
    opacity: 0.9;
    transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
  }

  .add-list-leave.add-list-leave-active {
    opacity: 0.01;
    transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
  }
}