@import "colors";
@import "dimensions";


/**
 * From https://github.com/ConnorAtherton/loaders.css
 */

.loader-container {
  opacity: 0;
  display: inline-block;
  margin-top: 6px;
  transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -webkit-transition: opacity 300ms ease-in;

  &.active {
    opacity: 0.9;
  }

  .ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 1s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 1s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  }

  .ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 1s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: scale 1s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  }

  .ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  }

  .ball-pulse > div {
    background-color: $primary_color_light;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
  }

  /* different animation */

  .ball-beat > div:nth-child(1) {
    -webkit-animation-delay: 0.49s;
            animation-delay: 0.49s;
    -webkit-animation-duration: 0.93s;
            animation-duration: 0.93s;
  }

  .ball-beat > div:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-animation-duration: 1.02s;
            animation-duration: 1.02s;
  }

  .ball-beat > div:nth-child(3) {
    -webkit-animation-delay: 0.63s;
            animation-delay: 0.63s;
    -webkit-animation-duration: 1.07s;
            animation-duration: 1.07s;
  }

  .ball-beat > div {
    background-color: $primary_color_light;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: ball-beat;
            animation-name: ball-beat;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
}


@keyframes ball-beat {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
