@import "colors";
@import "dimensions";

.enhanced-form {
  legend {
    font-weight: $font_weight_bold;
  }

  [class^="input"] {
    margin: 30px 0;
  }

  .bottom-form-control {
    margin-top: 3em;

    button {
      margin-top: 0;
      margin-right: 1em;
      float: left
    }

    .cross-field-errors {
      font-size: 13px;
      background-color: $error_color;
      color: $white;
      padding: 0.5em;
      border-radius: $std_button_radius;
      float: left;

      opacity: 0;
      transition: opacity 0.3s ease; 
      -moz-transition: opacity 0.3s ease; 
      -webkit-transition: opacity 0.3s ease;

      &.show {
        opacity: 0.9;
      }
    }
  }
}