@import "colors";
@import "dimensions";

.tags-box {
  margin-top: 30px;
  
  .mui-row {
    position: relative;

    // override column padding
    [class^="mui-col"] {
      padding: 0;
      padding-right: $default_margin;
    }

    .tag-input {
      position: relative;
      margin-bottom: $default_margin;

      input {
        background-color: $input_bg_color;
        font-size: $input_font_size;
        margin: 0;
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid $primary_color;

        &:focus {
          outline: none;
          border-bottom: 1px solid transparent;
        }

        &:focus ~ label, &.non-empty ~ label {
          top: -20px;
          font-size: $base_font_size;
          color: $primary_color;
        }
      }

      label {
        font-weight: $font_weight_bold;
        font-size: $input_font_size;
        color: $primary_color;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }

      /* active state */
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:100%;
      }

      .bar {
        position:relative;
        display:block;

        &:before, &:after {
          content: '';
          height: 2px; 
          width: 0;
          bottom: 1px;
          position: absolute;
          background: $primary_color; 
          transition: 0.2s ease all; 
          -moz-transition: 0.2s ease all; 
          -webkit-transition: 0.2s ease all;
        }

        &:before {
          left: 0%;
        }

        &:after {
          left: 0%;
        }
      }

      button {
        position: absolute;
        top: 0;
        padding-top: 0.5em;
        right: $default_margin;
        margin: 0;
        border-radius: 0;
        border-top-right-radius: $std_button_radius;
        height: 98%;

        span {
          font-size: $tooltip_icon_font_size;
          font-weight: $font_weight_bold;
        }
      }
    }

    .tags-display {
      position: relative;

      .tag-list-enter {
        opacity: 0.1;
      }

      .tag-list-enter.tag-list-enter-active {
        opacity: 0.9;
        transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -webkit-transition: all 300ms ease-in;
      }

      .tag-list-leave {
        opacity: 0.9;
        transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -webkit-transition: all 300ms ease-in;
      }

      .tag-list-leave.tag-list-leave-active {
        opacity: 0.01;
        transition: all 150ms ease-in;
        -moz-transition: all 150ms ease-in;
        -webkit-transition: all 150ms ease-in;
      }
    }
  }

}