@import "colors";
@import "dimensions";

.navbar {
  ul {
    list-style: none;
    margin: 0;  // In general, I let the parent element care about this
    padding: 0;

    li {
      display: inline-block;
      padding-left: 0.6em;
      padding-right: 0.6em;
    
      &:hover {
        background-color: rgba(53, 127, 130, 0.1);
      }

      a {
        cursor: pointer;
        font-size: $base_font_size;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}