@import "colors";
@import "dimensions";

$cubic: cubic-bezier(.64, .09, .08, 1);

.tooltip-active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.tt-span {

  span {
    color: $primary_color;

    position: relative;
    &:after {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      content: attr(data-tooltip);
      padding: 6px 10px;
      top: 1.4em;
      left: 50%;
      transform: translateX(-50%) translateY(-2px);
      background: $primary_color;
      color: $white;
      font-family: sans-serif;
      font-size: $base_font_size;
      font-weight: $base_font_weight;
      z-index: 5;
      line-height: 1.2em;
      width: 13em;
      border-radius: $std_box_radius;
      transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    }
    &:hover {
      &:after {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }

    &.tooltip--left {
      &:after {
        top: -4px;
        left: 0;
        transform: translateX(-112%) translateY(0);
      }
      &:hover {
        &:after {
          transform: translateX(-110%) translateY(0);
        }
      }
    }

    &.tooltip--right {
      &:after {
        top: -4px;
        left: 100%;
        transform: translateX(12%) translateY(0);
      }
      &:hover {
        &:after {
          transform: translateX(10%) translateY(0);
        }
      }
    }
  }
}