@import "colors";
@import "dimensions";

.toast {
  color: $white;
  text-align: center;
  padding: 0.5em;
  font-size: 1.1em;
  margin: 10px auto 0;
  font-weight: $font_weight_bold;
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.6);
  
  &.error {
    background-color: $error_color; 
  }
  
  &.success {
    background-color: $success_color; 
  }

  &.info {
    background-color: $info_color; 
  }

  .toast-icon {
    font-size: 1.2em;
    padding-right: 10px;
  }
}