@import "colors";
@import "dimensions";

.form-section {
  display: none;

  [class^="input"] {
    margin: 30px 0;
  }

  h4 {
    font-size: 1.4em;
    font-weight: $font_weight_bold;

    .tt-span {
      display: inline;
      font-size: $tooltip_icon_font_size;

      span {
        font-weight: $font_weight_bold;
        margin-left: $default_margin;
      }
    }
  }

  &.active {
    display: block;
  }
}
