@import "colors";
@import "dimensions";

.toast-bar {
  position: absolute;
  bottom: 20px;
  width: 100%;

  .toast-enter {
    opacity: 0.1;
  }

  .toast-enter.toast-enter-active {
    opacity: 0.9;
    transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
  }

  .toast-leave {
    opacity: 0.9;
    transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
  }

  .toast-leave.toast-leave-active {
    opacity: 0.01;
    transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
  }
}