@import "colors";
@import "dimensions";

.form-wizard-container {

  legend {
    font-size: 1.7em;
    font-weight: $font_weight_bold;
    border-bottom: 1px solid $primary_color;
  }

  .form-nav-buttons {
    margin-top: $button_margin_top;

    button {
      display: inline-block;
      float: left;
      margin-right: $default_margin;
    }

    .loader-container {
      margin-top: 13px;
    }
  }
}