@import "colors";
@import "dimensions";

.input-field {
  position: relative;
  width: 100%;

  input, textarea {
    background-color: $input_bg_color;
    font-size: $input_font_size;
    width: 100%;
    display:block;

    border: none;
    border-bottom: 1px solid $primary_color;

    &:focus {
      outline: none;
      border-bottom: 1px solid transparent;
    }

    &:focus ~ label, &.non-empty ~ label {
      top: -20px;
      font-size: $base_font_size;
      color: $primary_color;
    }

  }

  label {
    font-weight: $font_weight_bold;
    font-size: $input_font_size;
    color: $primary_color;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .bar {
    position:relative;
    display:block;

    &:before, &:after {
      content: '';
      height: 2px; 
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $primary_color; 
      transition: 0.2s ease all; 
      -moz-transition: 0.2s ease all; 
      -webkit-transition: 0.2s ease all;
    }

    &:before {
      left: 0%;
    }

    &:after {
      left: 0%;
    }
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:100%;
  }

  /* active state */
  textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width:100%;
  }

  .input-tooltip {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: $tooltip_icon_font_size;
    font-weight: $font_weight_bold;
  }

  .error {
    color: $white;
    background-color: $error_color; 
    border-bottom-left-radius: $std_button_radius;
    border-bottom-right-radius: $std_button_radius;
    padding: 2px 1em;
    position: absolute;
    right: 0;
    z-index: 2;

    opacity: 0;
    transition: opacity 0.3s ease; 
    -moz-transition: opacity 0.3s ease; 
    -webkit-transition: opacity 0.3s ease;

    &.show {
      opacity: 1;
    }
  }
}