@import "colors";
@import "dimensions";

.tag {
  position: relative;
  color: $white;
  display: inline-block;
  background-color: $tag_color;
  font-size: 1.3em;
  border-radius: $std_button_radius;
  padding: 8px;
  margin-right: $default_margin;
  margin-bottom: $default_margin;
  
  a {
    padding-left: 10px;
    cursor: pointer;

    span {
      color: $white;
    }
  }
}