// import MUI SASS
@import "node_modules/muicss/lib/sass/mui/colors";

// Custom color vars
$primary_color:               #357F82;  // Blue
$primary_color_light:         #8CC0C2;
$accent_color:                #D75A57;  // reddish
$accent_color_light:          #FFB9B7;
$primary_grey_light:          #F4F8F9; // #E6EDEE  REdo these
$primary_grey_dark:           #333B3B;
$white:                       mui-color('white');
$white_transparent_8:         rgba(255, 255, 255, 0.8);
$white_transparent_4:         rgba(255, 255, 255, 0.4);
$darken_white:                darken(mui-color('white'), 5%);
$divisor_and_emphasis_color:  $primary_color_light;
$logo_font_color:             $primary_color;
$base_font_color:             $primary_grey_dark;
$header_nav_link_color:       $primary_color;
$error_color:                 $accent_color;
$info_color:                  $primary_color_light;
$success_color:               #9FDEA3;  // green!
$list_divider_color:          $white;

// customize MUI variables - https://www.muicss.com/docs/v1/css-js/customization
// Base Colors
$mui-primary-color:           $primary_color;
$mui-primary-color-dark:      $primary_color;
$mui-primary-color-light:     $primary_color_light;
$mui-base-font-color:         $base_font_color;
$mui-danger-color:            $error_color;

$mui-accent-color:            $accent_color;
$mui-accent-color-dark:       $accent_color;
$mui-accent-color-light:      $accent_color_light;

// Global elements
$mui-body-bg-color:           $white;
$mui-divider-color:           $divisor_and_emphasis_color;

// Buttons
$mui-btn-default-font-color:  $white;
$mui-btn-default-bg-color:    $mui-primary-color;
$mui-btn-flat-ripple-color:   lighten(mui-color('white'), 50%);
// $mui-btn-flat-bg-color-hover: darken($white, 5%);
// $mui-btn-default-font-color:  $white_transparent_8;

// Inputs
$input_bg_color:              rgba(53,127,130, 0.1);
$mui-input-font-color:        $mui-primary-color;
$mui-input-placeholder-color: $mui-primary-color;
$mui-input-bg-color:          $white_transparent_8;
$mui-legend-font-color:       $mui-primary-color;

// Tags
$tag_color: $primary_color_light;
