// Custom vars
$base_font_weight: 400;
$font_weight_bold: 600;
$default_margin: 10px;
$logo_font_size_med: 1.4em;
$main_content_padding: 2em;
$std_box_radius: 2px;

// Input dimensions
$std_button_radius: $std_box_radius;
$input_padding: 0.5em;
$input_height: 32px;
$button_margin_top: 3em;
$input_font_size: 18px;

// font-sizes
$base_font_size: 14px;
$h4_size: 1.4em;
$h5_size: 1.3em;
$logo_font_size_med: 1.4em;
$tooltip_icon_font_size: 20px;

// Header bar variables
$min_header_height: 2.8em;
$header_el_padding: 0.8em;
$header_logo_font_size: $logo_font_size_med;
$header_navlink_size: $header_logo_font_size - 0.2; // a teeny bit smaller

// Mui vars
$mui-base-font-size: $base_font_size;
$mui-border-radius-default: $std_button_radius;
$mui-base-font-weight: $base_font_weight;
$mui-input-height: $input_height;