@import "colors";
@import "dimensions";

.list-item {
  position: relative;
  height: 6.5em;
  color: $base_font_color;
  border-bottom: 1px solid $primary_color;
  font-weight: 500;
  // margin: 0.5em 0;
  padding: 0.5em 0.5em;

  &:nth-child(n+2) {
    border-top: 2px solid $list_divider_color;
  }

  h4, h5 {
    margin: 0;
    line-height: 1.5em;
  }

  .item-bottom {
    bottom: 5px;
    position: absolute;

    span {
      padding-right: 0.5em;

      &:nth-child(n+2) {
        padding-left: 0.5em;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    } 
  }
  
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $darken_white;
  }
}
