@import "colors";
@import "dimensions";

.switch-input {

  .switch-box {
    width: 50%;
    display: inline-block;
  }

  .input-field {
    margin: 15px 0;
    opacity: 0.3;
    width: 50%;
    display: inline-block;

    transition: opacity 0.3s ease; 
    -moz-transition: opacity 0.3s ease; 
    -webkit-transition: opacity 0.3s ease;
  }

  &.show > .input-field {
    opacity: 1;
  }

}